[data-slide-container] {
  position: relative;
  height: 22vw;
  max-height: 200px;
  overflow-x: hidden;
  cursor: grab;
}

[data-slide-cards] {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  max-height: inherit;
  display: flex;
  gap: 50px;
  pointer-events: none;
}
