.about-provinces > p {
  text-align: center;
  margin: 20px auto 10px auto;
}
.about-provinces .content {
  display: flex;
  gap: 20px;
  background-color: red;
}
.about-provinces .province {
  position: relative;
  cursor: pointer;
}
.about-provinces .province img {
  width: 22vw;
  height: 22vw;
  max-width: 200px;
  max-height: 200px;
  z-index: 0;
  filter: brightness(40%);
}
.about-provinces .province h3 {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: var(--base-color-1);
}
