.who-we-are .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.who-we-are .content .info {
  width: 100%;
  max-width: 100%;
}

.who-we-are .content .img {
  height: 100%;
  max-width: 100%;
  object-fit: fill;
}

.who-we-are .content .img img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: auto;
}

@media (max-width: 800px) {
  .who-we-are .content {
    display: flex;
    gap: 0;
  }
  .who-we-are .content .img {
    display: none;
  }
}
